#action-list {
  width: 100%;
  min-width: 700px;
}

#image-detail img {
  max-width: 90%;
  max-height: 200px;
}

#campaign-detail {
  padding: 2.7% 2.5%;
  width: 60%;
}

#campaign-detail h2,
#campaign-detail p,
#image-detail {
  text-align: center;
}

#campaign-detail h3 {
  margin-left: -6px;
  margin-top: 10px;
}

#title-detail {
  font-size: 3rem;
}
